<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>出席表</title>
    <link rel="stylesheet" type="text/css" href="../static/css/displaydb.css">
    <script src="../static/js/displaydb.js"></script>
</head>

<body>
    <h1>出席表</h1>
        <p>学籍番号</p>
            {% for id in studentnumlist %}
                {% if loop.index0 == 0 %}
                    {{ id }}
                {% endif %}
            {% endfor %}

        <p>名前</p>
            {% for name in namelist %}
                {% if loop.index0 == 0 %}
                    {{name}}
                {% endif %}
            {% endfor %}

        <p>出欠席</p>
            {% for attendance in attendancelist %}
                {% if loop.index0 == 0 %}
                    {{attendance}}
                {% endif %}
            {% endfor %}

    <table border="5" id="targetTable">
        <tr>
          <th>学籍番号</th> <th>名前</th> <th>出欠席</th>
        </tr>
        

        <tr>                 
          <td>{{id}}</td>                        <td>{{name}}</td>                  <td>{{attendance}}</td>
        </tr>




        <tr>
          <td>898748</td> <td>香川</td> <td>1</td>
        </tr>



    
        <tr>
          <td>028829</td> <td>北海道</td> <td>1</td>
        </tr>




        <tr>
          <td>343323</td> <td>神奈川</td> <td>1</td>
        </tr>




        <tr>
          <td>974927</td> <td>沖縄</td> <td>1</td>
        </tr>




        <tr>
          <td>984399</td> <td>鳥取</td> <td>1</td>
        </tr>




        <tr>
          <td>985949</td> <td>宮崎</td> <td>1</td>
        </tr>



    </table>
</body>