<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>出席表</title>
        <link rel="stylesheet" type="text/css" href="../static/css/displaydb.css">
    </head>

    <body>
        <h1>出席表</h1>
            <p>学籍番号</p>
                <ul>
                    {% for id in studentnumlist %}
                        
                        <li>{{ id }}</li>
                        
                    {% endfor %}
                </ul>

            <p>名前</p>
                <ul>
                    {% for name in namelist %}
                    
                        <li>{{name}}</li>
                    
                    {% endfor %}
                </ul>

            <p>出欠席</p>
                <ul>
                    {% for attendance in attendancelist %}
                    
                        <li>{{attendance}}</li>
                    
                    {% endfor %}
                </ul>

        <table border="1" id="getTable">
            <thead>
                <tr>
                    <th width = "500">学籍番号</th> <th width = "500">名前</th> <th width = "500">出席</th> <th width = "500">遅刻</th> <th width = "500">早退</th>
                </tr>
            </thead>
        </table>
        <script src="../static/js/displaydb.js"></script>
    </body>
</html>